.button__mode{
    display: flex;
    gap: 0.5em
}

.container{
    display:flex;
    flex-direction: column;
    justify-content: center;
    gap: 0.5em;
}

.input__container{
    display:flex;
    gap: 0.5em;
}
