.container{
    display:flex; 
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.videos {
    display:grid;
    grid-template-columns:  repeat(4,1fr) ;
    gap: 1em;
    
}


@media (max-width: 900px){
    .videos{
        grid-template-columns: repeat(2,1fr) ;
    }
}


@media(max-width: 600px){
    .videos{
        grid-template-columns:1fr ;
    }
}

.list {
    display: flex;
    flex-direction: column;
    justify-items: center;
}

.buttons{
    display:flex;
    justify-content: center;
    align-items: center;
    gap: 1em;
}

 .buttons__list {
    display:flex;
    justify-content: center;
    align-items: center;
    gap: 1em;
    flex-direction: column;
}