
.library
{
    margin-top: 8em;
   
}

.container{
    margin: 3em 0;
}

.settings{
    margin-top: 1em;
    display:flex; 
    flex-direction: column;
    gap: 1.5em;
    
}

.flex {
    display:flex;
    align-items: center;
    gap: 1em;
}